extends layout
block content
	div.container
		div.well.top-space.large-padding.text-center
			h1 Autentificación 
				span.fab.fa-node  usando Passport
			p Conectar o registrarse con:
			a.btn.btn-default(href='/login')
				span.far.fa-user Conectar
			a.btn.btn-default(href="/signup")
				span(class="far fa-user") Registrarse
			a.btn.btn-primary(href="/auth/facebook")
				span.fab.fa-facebook Facebook
			a.btn.btn-info(href="/auth/twitter")
				span.fab.fa-twitter-square Twitter
			a.btn.btn-danger(href="/auth/google")
				span.fab.fa-google-plus-square Google