doctype html
html(lang="es")
	include ../node_modules/pug-bootstrap/_bootstrap.pug
	head
		title Autentificación Node usando Passport
		meta(charset="utf-8")
		//- link(href="/modules/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		link(href="/modules/@fortawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet")
		link(href="/css/all.css" rel="stylesheet")
		link(href="/css/styles.css" rel="stylesheet")
	body
		block content