.centrado {
	margin: 0 auto;
}
.contiene-rojo {
	background-color: red;
}
.contiene-azul {
	background-color: blue;
}
.right-space {
	margin-right: 1em;
}
.remove-float {
	float: none;
}
.top-space {
	margin-top: 50px;
}
.big-top-space {
	margin-top: 100px;
}
.borde {
	border-style: solid;
	border-bottom-color: #92a8d1;
}
.altura {
	padding-top: 50px;
	padding-bottom: 50px;
}
.large-padding {
	padding: 10px 15px;
}
.black {
	background-color: #222;
}
.gris {
	background-color: gray;
}
.white-text {
	color:white;
}